body{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Main_container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 120vh;
  margin: auto;
  gap: 5px;
  margin-top: 5%;   
}

.box{
 
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
}
.code{
  display: flex;
  padding: 2px;
  height: 30%;
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 90%;
  float: left;
}
.name{
  display: flex;
  float: left;
  padding: 5%;
  height: 30%;
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 50%;
}
.codeName{

  width: 100%;
  box-shadow: 1px 1px 5px 0 gray;
}